doctype html
html(lang='en')
head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    link(href='/stylesheets/style.css', rel='stylesheet')
    title Интернет магазин tkaneva.ru. Приятных Вам покупок!
body
    header(class="header")
      div.container
        div.header-wrapper
          div.header-logo
            img(src="/images/logo.png", alt="TKANEVA")
          div.header-contact-phone 8 (950) 000-52-59
        form(method="POST" action="#" name="header-search-form" class="header-search")
          img(src="/images/search-icon.svg", alt="Поиск")
          span(class="header-search-icon")
            input(type='text', placeholder='Поиск' name='header-search-field' class="header-search-field" autocomplete="off")
          input(type='submit', value='Найти' name='header-search-button' class="header-search-button" autocomplete="off")
        div.header-wrapper
          ul(class='header-menu')
            li
              a(href='#') Оплата
            li
              a(href='#') Доставка
        div.header-wrapper
          div.header-cart-link Оформить заказ
        div.header-wrapper
          div.header-shopping-cart-button
            img(src="/images/shopping-cart.svg", alt="Корзина")