nav(class="navigation")
  ul
    a(href="/")
      li(id="navigation-active") Все каталоги
    a(href="/")
      li  Замша / Кожзам
    a(href="/")
      li  Джинса
    a(href="/")
      li  Мебельные ткани
    a(href="/")
      li  Шанель
    a(href="/")
      li  Шелк
    a(href="/")
      li  Хлопок
    a(href="/")
      li  Атлас
    a(href="/")
      li  Кашемир
    a(href="/")
      li  Плащевые ткани
    a(href="/")
      li  Вискоза
    a(href="/")
      li  Подкладочные ткани
    a(href="/")
      li  Лён