each product in products
  div(class="product")
    img(class="product-img" src="/images/products/01081815-4-900x600.jpg", alt="Картинка отсутствует")
    p(class="product-title")
      a(href="#")=product.name
    div(class="product-footer")
      div(class="product-price")=product.price
      div(class="product-button") Купить
          

