include includes/header.pug
include includes/minicart.pug
div(class="main")
  div(class="container")
    include includes/navigation.pug
    div(class="content")
      include includes/products.pug
      
      
  include includes/footer.pug
      