include includes/header.pug
include includes/minicart.pug
div.main
  div.container
    include includes/navigation.pug
    div.content
      include includes/products.pug
  include includes/footer.pug
      