doctype html
html(lang='en')
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    link(href='/stylesheets/styles.css', rel='stylesheet')
    title Интернет магазин tkaneva.ru. Приятных Вам покупок!
    body
    header(class="header")
      div(class='container')
        div(class='header-wrapper')
          div(class='header-logo')
            img(src="/imgages/logo.png", alt="TKANEVA")
          div(class="header-contact-phone")
            8 (950) 000-52-59
        form(method="POST" action="#" class="header-search" name="header-search-form")
          img(src="/imgages/search-icon.svg", alt="search")
          span(class="header-search-icon")
            input(type='text', placeholder='Поиск' name='header-search' class="search-field" autocomplete="off")
          input(type='submit', placeholder='Поиск' name='header-search' class="search_button" autocomplete="off")

    <header class="header">
        <div class="container">

            <div class="header_wrapper">
                <div class="logo">
                    <img src="/img/logo.png" alt="TKANEVA" />
                </div>
                <div class="contact_phone">8 (950) 000-52-59</div>
            </div>


            <form class="search" name="search" action="POST">
                <img src="/img/search-icon.svg" alt="search" />
                <span class="search_icon">
                    <input type="text" name="search" class="search_field" placeholder="Поиск" autocomplete="off">
                </span>
                <input type="submit" class="search_button" value="Найти">
            </form>

            <div class="header_wrapper">
                <ul class="top_menu">
                    <li><a href="#">Оплата</a></li>
                    <li><a href="#">Доставка</a></li>
                </ul>
            </div>

            <div class="header_wrapper">
                <div class="cart_link">
                    Оформить заказ
                </div>
            </div>


            <div class="header_wrapper">
                <div class="shopping_cart_button">
                    <img src="/img/shopping-cart.svg" alt="Корзина" />
                </div>
            </div>





    </header>