table {
  width: 100%;
  text-align: center;
  padding: 15px;
  border-radius: 3px;
  border-top: 2px solid #e6e6e6;
  background-color: $colorWhite;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
td {
  border-top: 1px solid #dee2e6;
  padding: 10px;
}
tr:hover {
  background-color: #ececec;
}
.isActive {
  background-color: #d1ecd6;
}
.isActive:hover {
  background-color: #d1ecd6;
}
