.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .container {
    .content {
      display: flex;
      margin-left: $freeSpace;
      margin-top: -$freeSpace / 2;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: $freeSpace;
      margin-bottom: $freeSpace;
      min-height: 100px;
    }
  }
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
  }

  /* Portrait tablets and medium desktops */
  @media (min-width: 992px) and (max-width: 1200px) {
  }

  /* Portrait tablets and small desktops */
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      flex-direction: column-reverse;
    }
  }

  /* Landscape phones and portrait tablets */
  @media (max-width: 767px) {
    .container {
      flex-direction: column-reverse;
    }
  }
}
