.minicart {
  margin-right: -300px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999;
  width: 300px;
  height: 100%;
  box-shadow: inset 3px 0 9px 0 #0000001f;
  background-color: white;
  transition: margin-left 0.5s, margin-right 0.5s;
  .minicart-header {
    background-color: #495b6c;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    padding: $freeSpace - 1;
  }
}
