.navigation {
  min-width: 250px;
}

.navigation ul {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

.navigation li {
  cursor: pointer;
  border: 1px solid #d8d8d8;
  text-decoration: none;
  background: #ffffff;
  border-top: none;
  padding-left: 18px;
  font-size: 14px;
  color: #353c44;
}

.navigation a {
  text-decoration: none;
  line-height: 40px;
}

#navigation-active {
  background: $greenColor;
  font-size: 15px;
  color: #ffffff;
  border-right-color: $greenColor;
  padding-left: 35px;
  font-weight: 600;
  border-right-width: 4px;
}

.navigation li:hover {
  border-right-color: $greenColor;
  border-right-width: 4px;
}
