.pagination {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.pagination a {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #d8d8d8;
  background: #ffffff;
  color: #333333;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
